.navbar-brand a{
    font-size: 22px;
}
ul#nav-list{
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #333;
    background: #ccc;
}
.nav > li {
    border-top : 1px solid #333;   
    padding: 7px 0; 
}
.menu-page-container{
    background-color: #dedede;
}
.menu-page-container .col-xs-12{
    padding: 15px;
}

